{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password don't match.</p>
    {% endif %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <style>
    div.solid {
    border-top:  2px #28a4c9 solid;
    border-left: 2px #28a4c9 solid;
    border-right: 2px #28a4c9 solid;
    border-bottom: 2px #28a4c9 solid;
    background-color: white;
    padding: 10px;}

    body {
        background-image: url(https://www.textures.com/system/categories/2375/frontend-large.jpg);
    }

    </style>



    <form method="post" action=".">{% csrf_token %}

      <div class="container" >

        <div class="solid">
            <div style="background-color:#1b6d85"> <h2 style="color:white">LOGIN</h2> </div>
        </div>

        <BR>

          <div class="solid">
            <label style="color:#1b6d85" for="id_username">ID</label>
                <br>
                {{ form.username }}</td></tr>

                <br><br>

            <label style="color:#1b6d85" for="id_password">PASSWORD</label>
                <br>
                {{ form.password }}</td></tr>
<br>

</div>
<br>
<button class="btn btn-success boton">Login</button>
<input type="hidden" name="next" value="/posts/home" />
<input type="button" onclick=" location.href='/posts/register' " value="New User" name="boton" class="btn btn-success boton"/>
</div>

    </form>




{% endblock %}
