{% extends "base.html" %}
{% block title %}Registration Successful{% endblock %}
{% block head %}Registration Succesful{% endblock %}
{% block content %}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

<style>
div.solid {
border-top:  2px #28a4c9 solid;
border-left: 2px #28a4c9 solid;
border-right: 2px #28a4c9 solid;
border-bottom: 2px #28a4c9 solid;
background-color: white;
padding: 10px;}

body {
    background-image: url(https://www.textures.com/system/categories/2375/frontend-large.jpg);
}

</style>

    The registration was completed successfully.
    <br>
    <input type="button" onclick=" location.href='/posts/accounts/login/' " value="Go Back" name="boton" class="btn btn-success boton"/>
{% endblock %}
